
/.ipynb_checkpoints/
/.DS_Store

/CA/data/
/CA/models/
/CA/.DS_Store
/CA/.ipynb_checkpoints/
/vicsek/non-upload/

/diffusion/data/
/diffusion/models/
/diffusion/.DS_Store
/diffusion/.ipynb_checkpoints/
/diffusion/__pycache__/
/diffusion/non-upload/


/vicsek/data
# /vicsek/fig_data
/vicsek/__pycache__/
/vicsek/.ipynb_checkpoints/
/vicsek/img
/vicsek/non-upload/
/vicsek/models
/vicsek/upload
/vicsek/.DS_Store

